@import "deliciousness/atoms/colors";
@import "deliciousness/atoms/typography";

/* ------------------------------------------------------------------------- */
/* CARD -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.card {
	padding: 2em 1em;
	min-width: 320px;
	max-width: 900px;
	background: $linen;
}

.card-title {} // inherits from h2

// this does not affect the h3 in card-list, yet still inherits via element
.card-subtitle {
	margin: 1em 0;
	color: $tearose;
}


// if we use a h3 or shared class here, we affect the h3 in card-list
// h3 {
// 	margin: 1em 0;
// 	color: red;
// }


.card-image {
	margin-bottom: 1em;
	max-width: 100%;
}

.card-description {
	margin-bottom: 1em;
}

.card-price {
	font-family: $font-secondary;
	color: $wildblueyonder;
}

.card-price-number {
	font-weight: 600;
}
