<div class="card">

	<h2 class="card-title">
		the "i want chocolate cake" cake
	</h2>

	<div class="card-subtitle">
		fudgy chocolate cake, classic chocolate frosting, sprinkles
	</div>

	<img class="card-image" src="https://elyseholladay.github.io/deliciousness/img/choc-cake-cake.jpg" alt="">

	<p class="card-description">
		For when all you want is a slice of chocolate cake. A kid-friendly
		but grown-up approved one-layer cake that's rich and cocoa-y but
		plenty sweet, with a perfectly thick chocolate frosting.
		And rainbow sprinkles, for celebrating.
	</p>

	<div class="card-price">
		<span class="card-price-number">
			$20
		</span>
		 — one-layer 8" cake
	 </div>

</div>
