/* ------------------------------------------------------------------------- */
/* COLORS ------------------------------------------------------------------ */
/* ------------------------------------------------------------------------- */
// @rmn/roux-ingredients/atoms/colors
// Color variables and abstracted colors

$black:             #000000;
$white:             #ffffff;

// Coolors https://coolors.co/f6bd60-f7ede2-f5cac3-84a59d-f28482
$rajah:             #F6BD60;
$linen:             lighten(#F7EDE2,5%);
$tearose:           #F5CAC3;
$cadetgray:         #84A59D;
$lightcoral:        #F28482;
$gray:              #565857;
$wildblueyonder:    #A0B9C6;

$font-color:        $gray;
